html,body{
  margin: 0;
  padding: 0;
  color: white;
  background-color:#202023;
  font-family: Roboto Thin,sans-serif;
}
.HomePage-Wrapper{
  margin: 0;
  width: 100%;
}

.HomePage-Wrapper .HomePage-Header{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  height: 70px;
  display: block;
  text-align: center;
  background-color: #FF6C37;
  box-shadow: 5px 3px 10px gainsboro;
}

.HomePage-Wrapper  .HomePage-Main{
  margin: 8rem 4rem;
  display: block;
}

.HomePage-Wrapper  .HomePage-Main .HomePage-Main-Bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
}

.HomePage-Main-Bar .HomePage-Buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.HomePage-Main-Bar .HomePage-Buttons button{
  width: 2rem;
  cursor: pointer;
}

.HomePage-Main-Bar .HomePage-Searchbar{
  width:50%;
  display: flex;
}
.HomePage-Main .HomePage-Gallery{
  background-color: #3D3F41;
  box-shadow: 8px 5px 8px black;
  padding: 2rem;
  margin-top: 2rem;
  display: flex;
}

.HomePage-Main .HomePage-Main-Bar .HomePage-Searchbar input{
  outline: none;
  width: 100%;
  margin: inherit;
  padding: 0.5rem;
  background-color: #3D3F41;
  border:1px solid #FF6C37;
  border-radius: 5px;
  color: white;
}

input::placeholder{
  color: lightgrey;
}

.AddMovieForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.AddMovieForm div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.AddMovieForm div input,button{
  border: none;
  height: 2rem;
  border-radius: 5px;
}

.AddMovieForm div input{
  width: 20rem;
}
.AddMovieForm .add-button{
  display: flex;
  flex-direction: row-reverse;
}

button{
  background-color:#FF6C37;
  color: white;
}

button:active {
  background-color: white;
  color: #FF6C37;
}

.active{
  border: none;
  background: white;
  color: #FF6C37;
}

.MovieGallery-Wrapper{
  display: flex;
  justify-content: center;
}

.MovieGallery {
  display:flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1rem;
}

.MovieCard{
  padding: 1rem;
  background-color: #2B2B2B;
  text-align: center;
  box-shadow: 5px 2px 5px black;
  cursor: pointer;
}

.MovieCard .MovieCard-Poster{
  display: flex;
  object-fit: cover;
  justify-content: center;
}

.MovieCard .MovieCard-Poster img{
  width: 200px;
  height: 295px;
}

.MovieCard-buttons{
  display: flex;
  justify-content: flex-end;
  gap: 0.2rem
}
.MovieCard .MovieCard-buttons button{
  width: 2rem;
  text-align: center;
  background-color:#3D3F41;
  border: 1px solid #FF6C37;
  cursor: pointer;
}
.MovieCard .MovieCard-buttons button:hover{
  background-color: #FF6C37;
  color: white;
}

.MovieCard .MovieCard-buttons button:active{
  background-color: white;
  color: #FF6C37;
}

.MoviePage{
  display: block;
  width: 100%;
}
.MoviePage div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.Popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.Popup-inner {
  position: relative;
  padding: 8rem;
  background-color: black;
}
.Popup-inner .close-button {
  position: absolute;
  top: 1rem;
  right:1rem;
  width: 2rem;
}
